{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <!-- Greet the current user -->
    <h1>Hi, {{ current_user.username }}!</h1>

    <!-- Functionality to create new posts -->
    {% if form %}
    {{ wtf.quick_form(form) }}
    <br>
    {% endif %}

    <!-- Loop through all current posts, show which author is associated with which post -->
    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}
    
    <!-- Cycle through newer and older posts using pagination -->
    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> Newer posts
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    Older posts <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}
